@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom ,#5CDB95, #8EE4AF); */
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  color: black;
  font-family: 'Cardo';
}

.App-link {
  color: #61dafb;
}
