.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to bottom ,#5CDB95, #8EE4AF);
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Catamaran';
}

.App-link {
  color: #61dafb;
}
