@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  color: black;
  font-family: Poppins;
}

.App-link {
  color: #61dafb;
}
